/*==============================================================================================*/

@import "./variables.css";

html {
    scroll-behavior: smooth;
}

/*==============================================================================================*/

body {
    margin: 0;
    height: 100vh;
    background: #000;
    animation: slide 3s ease 1;
}
@keyframes slide {
    from {
    transform: translate(150vw, 0) scale(2, 1);
    }
    to {
    transform: translate(0, 0) scale(1, 1);
    }
}   

