body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, #88515f, #a38a89, #7492b1, #34414f);
    background-size: 800% 800%;
    animation: degradaciónFondo 10s ease infinite;
}
    @keyframes degradaciónFondo {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    }

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px; 
    color: rgb(52, 65, 79);
    background-color: rgb(222, 238, 255);
    height: 150px;
    margin: 0px 0px 10px;
}

h2 {
    color: rgb(222, 238, 255);
    background-color: rgb(95, 36, 47);
    margin: -10px 0px 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    height: 160px;
    justify-content: center;
}

.item {
    background-color: #c9cad3;
    color: #7e8595;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-color: rgb(0, 0, 0);
    flex: 2;
}

label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(222, 238, 255);
    background-color: rgb(52, 65, 79);
    font-size: 25px; 
    border-radius: 5px;
}

select {
    width: 100px;
    padding: 10px 12px;
    background-color: #88515f;
    color: rgb(222, 238, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    outline: none; 
}
select:hover {
    transform: translateY(-1px);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
}

select:active {
    box-shadow: 0px 0px 0px 2px rgba(136, 81, 95, 0.4);
}

button {
    height: 40px;
    padding: 10px 20px;             
    color: rgb(222, 238, 255);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.226);
    transition: all 0.5s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.568);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.212);
}
button {
    background: linear-gradient(270deg, #0a69e6, #b30ec2, #7808d4, #180ace);
    background-size: 500% 500%;
    animation: degradaciónBoton 6s ease infinite;
}
    @keyframes degradaciónBoton {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    }